.nav-menu {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bold;
}

.logo {
  font-size: 30px;
  text-decoration: none;
}

.link, .nav-profile a {
  font-size: 15px;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.link:hover { 
  color: rgb(201, 201, 201);
}

.profile a {
  font-size: 23px;
}

.profile-btn {
  margin-right: 9px;
}
