.home-page {
    background-image: url('../static/home-background.jpg');
    margin-top: auto;
    width: 100%;
    height: 100%;

    color: white;

    position: relative;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
    background-position: right -150px;
}

.home-page .text1, .home-page .text2, .home-page .text3 {
    font-family: 'Play', sans-serif;
    font-size: 55px;
    font-weight:700;
}

.home-page .text-box {
    width: fit-content;
    position: absolute;
    top: 150px;
    left: 500px;
}

.home-page .text1 {
    position: absolute;
    width: 835px;
    left: 230px;
    top: 65px;
}

.home-page .text2 {
    position: absolute;
    width: 435px;
    left: 530px;
    top: 135px;
}

.home-page .text3 {
    position: absolute;
    width: 440px;
    left: 645px;
    top: 205px;
}

.about-us-page h1 {
    margin-left: 50px;
}

.auth-page a {
    color: black;
    text-decoration: none;
    margin: auto;
}

.auth-page h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.profile-page {
    padding: 20px;
}

.profile-page h1 {
    margin-bottom: 10px;
}

.profile-page, .auth-page, .error-page, .about-us-page {
    background-color: white;
}

.text4{
    position: absolute;
    font-family: 'Play', sans-serif;
    font-size: 25px;
    width: 600px;
    left: 540px;
    top: 330px;
}


  
  .social{
    position: absolute;
    display:flex;
    top: 730px;
    left: 40px;
    
  }
  
  .social__icon{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: #2f2f2f;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000080;
    transition: all 0.5s ease;
    position: relative;
    overflow:hidden;
  }
  
  .social__icon i {
    font-size: 26px;
    color: #d3d6d9;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .social__icon:after{
    content: "";
    width: 70px;
    height: 70px;
    position:absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  
  .social__icon.phone:after{
    background-color: #ffffff;
  }
  .social__icon.facebook:after{
    background-color: #ffffff;
  }
  .social__icon.envelope:after{
    background-color: #ffffff;
  }
  .social__icon.location:after{
    background-color: #ffffff;
  }
 
  .social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 15px #00000080;
  }
  
  .social__icon:hover i{
     color: #2f2f2f;
  }
  
  .social__icon:hover:after{
    transform: translate(0);
  }